
body{
	background-image: url("./media/mywall.png");
	padding-left: 5em;
	padding-right: 5em;
	font-family: 'Noto Sans JP', sans-serif;
	margin: auto;
	width: 75vw;
	animation: loading 500ms ease-out;
}

@keyframes loading{
	0%{    
		opacity: 0;
	}
	100%{        
		opacity: 1;
	}
}

.main_box{
	max-width: 400px;
	height: auto;
	background: rgba(0,0,0,0.4);
	padding: 20px;
	text-align: center;
	margin: auto;
	color: white;
	font-family: 'Century Gothic', sans-serif;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	transition: transform 0.5s;
}

#statistics_div{
	text-align: center;
	margin: auto;
	color: white;
}

.main_box:hover{
	transform:translateY(-10px);
}

#profile_photo{
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	max-width: 68%;
}

.main_box h1, h3{
	text-decoration: underline;
}

.main_box h1{
	font-size: 38px;
	font-family: 'Dancing Script', cursive;
	/*font-family: 'Parisienne', cursive;*/
}

#resume_pdf{
	width: 100%;
	height: 620px;
}

#resume_img{
	max-width: 100%;
	height: auto;
}

#resume_div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden{
	display: none;
}

div.quote{
	text-align: left;
	font-style: italic;
}

span{
	font-size: 3em;
}

tr:hover, nav a:hover {animation: highlight 0.5s forwards;}

@keyframes highlight {
	from {}
	to { background-color: lightblue;}
}

#statistics_div{
	color: black;
}

table{
	width: 80%;
}

table, th, td{
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

tr:nth-child(even) {
	background-color: #FFE4B5;
}

tr:nth-child(odd) {
	background-color: white;
}
th{
	background-color: gray;
}

nav.menu{
	background-color: rgba(255, 183, 117, 0.5);;/*#FFB775*/
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	text-align:center;
	font-size: 18px;
}

.logo_icon img{
	width: 35px;
}

.logo_icon, a{
	text-decoration: none;
}

#gsu_icon{
	float: left;
	width: 300px;
}

embed:focus {
	outline: none;
}

hr{
	border: 0;
	height: 6px;
	background-image: radial-gradient(
		closest-side,
		hsla(0, 0%, 50%, 1.0),
		hsla(0, 0%, 50%, 0) 100%);
}

.footer-index p{
	text-align: center;
	margin: auto;
}

.footer-index a, .footer a, ul a{
	color: black;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.footer .footer-contact{
	margin-left: 15px;
}